<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>YES Zahlung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 class="header-h1">YES Zahlung abgeschlossen</h1>

<p th:text="'Resulting ID token:' + ${session.idtoken}"></p>
<p th:text="'Resulting UserInfo:' + ${session.userinfo}"></p>

<script src="https://test.yes.com/yes/resources/sdk/yes.js"></script>
<script>
    // get rid of iframe: reload parent page with current URL if this page is in an iframe
    if (yes.tests.inIframe()) {
        parent.location.href = window.location.href;
    }
</script>
</body>
</html>
